.code-container{
    background-color: white;
    border-radius: 15px;
    color: black;
}
.code-container .header{
    background-color: #068774;
    color: white;
    padding: 15px;
}

.content h4{
    padding: 15px;
}

*{
    text-align: center;
}
ion-list{
    margin: 2.5vh;
}
ion-item{
    --background:white;
    color: black;
}
