

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eco-Points
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">




  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>



  <!-- Fab Menu -->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/friends']">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
  </ion-fab>
</ion-content>
<ion-footer>
  <lib-ionic-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState"  [toolbarTopMargin]="0" [minBottomVisible]="100">
    <ion-content >
      <div class="stats-container" [ngClass]="{ 'draggedUp': isDragged, 'draggedDown': !isDragged  }"  (click)="toggleFooter()">
      
        <img class="point-bar"src="assets/drag-bar.svg" alt="" >

        <ion-grid>
            <ion-row>
              <ion-item class="point-count">
                <ion-label slot="start">Total Points</ion-label>
                <ion-label slot="end">2000</ion-label>
              </ion-item>


            </ion-row>
            <ion-row>
              <ion-card class="progress-card">
                <ion-card-header>
                  <ion-card-title>
                    Carbon Emissions Avoided
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  
                  <ion-progress-bar [value]="0.8" color="success"></ion-progress-bar>


                </ion-card-content>
              </ion-card>
              <ion-item class=" point-count progress-card">
                <ion-label slot="start">Money Saved</ion-label>
                <ion-label slot="end">£25.43</ion-label>
              </ion-item>
              <ion-card class="progress-card">
                <ion-card-header>
                  <ion-card-title>
                    Streak
                  </ion-card-title>
                  <ion-card-subtitle>38 days</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  
                  <ion-progress-bar [value]="0.8" color="warning"></ion-progress-bar>


                </ion-card-content>
              </ion-card>
            </ion-row>
            <ion-row>
              <ion-col>

              </ion-col>
              <ion-col>

              </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </ion-content>
    
    </lib-ionic-pullup>
</ion-footer>

